body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px; /*To create a little more room around the menu*/
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%; /*The current width of the menu will always take up 80% of the body element's width. 
  On a very wide screen, the coffee and dessert appear far apart from their prices.*/
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px; /*prevent it from growing too wide*/
}

h1, h2 {
  font-family: Impact, serif;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

.item p {
  display: inline-block; /*inline-block elements only take up the width of their content//To spread them out, add a width property to the flavor and price class selectors that have a value of 50% each*/
  margin-top: 5px; /*reduce large gap between each line*/
  margin-bottom: 5px;/*reduce large gap between each line*/
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%
}

/* FOOTER */
footer {
  font-size: 14px;
}

a {
  color: black;
}
a:visited { color: gray; } /*change properties of a link when the link has actually been visited by using a pseudo-selector*/
a:hover { color: brown; }/*change properties of a link when the mouse hovers over them by using a pseudo-selector*/
a:active { color: white; }/*change properties of a link when the link is actually being clicked by using a pseudo-selector*/

.address {margin-bottom: 5px;}

/*coffee cup/pie icon*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px; /*smaller vertical space between the h2 elements and their associated icons*/
}
